<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign Up</h3>
                <%= render partial: "login_signup_form", 
                  locals: {submit_url: handle_signup_url, button_txt: 'Signup'} %>
            </div>
        </div>
    </div>
</div>


